
body{
    background: url(../images/back3.JPG) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align:center;
}
nav.navbar.navbar-default.navbar-fixed-top {
    box-shadow: 0px 2px 6px 0 gray;
    -webkit-box-shadow: 0px 2px 6px 0 gray;
    -moz-box-shadow: 0px 2px 6px 0 gray;
}

#bodycontainer {
    background-color: rgb(248, 248, 248);
    background-size: cover;
    width: 70%;
    opacity: 0.95;

}


.navbar-brand {
    font-family: 'Lato', sans-serif;
    text-shadow: 2px 2px 8px #ddd;
}

#color {
    color: #000;
    font-weight: 900;
    text-shadow: 2px 2px 8px #ddd;
}



h1#title {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: black;
    font-weight: 700;
    width: 100%;
    padding:10px;
    margin: 10px;
    font-size: 38px;
}

h1#abouthead {
    margin-top: 20%;
}

h1#projhead {
    margin-top: 20%;
}

h1#pershead {
    margin-top: 20%;
}
/* #pgtitle {
    background-color: rgb(248, 248, 248);
    background-size: cover;

} */

/* div#titlediv {
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 900;
} */

#junior {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
    max-width: 15%;
    color: rgb(0, 126, 138);
}

div#aboutanchor {
    font-family: 'Lato', sans-serif;
    color: black;

}

div#projectsanchor {
    font-family: 'Lato', sans-serif;
    color: black;

}

div#persanchor {
    font-family: 'Lato', sans-serif;
    color: black;

}

#visit {
    margin-bottom: 10%;
    margin-top: 0;
}

#aboutphoto {
    width: 300px;
    height: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;


}

#infogphoto {
    width: 100%;
    height: 100%;

}


#aboutpar {
    margin: 10%;
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: justify;
    max-width: 80%;
}

#projpar {
    margin: 10%;
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: justify;
    max-width: 80%;
}

#perspar {
    margin: 10%;
    margin-top: 0;
    font-family: 'Lato', sans-serif;
    color: black;
    text-align: justify;
    max-width: 80%;
}

div.caption#safe {
    margin-left:auto;
    margin-right: auto;
    margin-top:0;
    margin-bottom: 15%;
    font-family: 'Lato', sans-serif;
    font-size: 80%;
    color: black;
    text-align: justify;
    max-width: 80%;
}
div.caption#river {
    margin-left:auto;
    margin-right: auto;
    margin-top:0;
    margin-bottom: 15%;
    font-family: 'Lato', sans-serif;
    font-size: 80%;
    color: black;
    text-align: justify;
    max-width: 80%;
}


div#infoph {
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;

}

#infog {
    z-index: 100;
    bottom: 60px;
    background-color: black;
    opacity: 0.7;
    color: white;
    font-family: 'Lato', sans-serif;
    padding: 10px;
    position: relative;
    max-width: 50%;
    left: 0;
}

#infogphoto {
    width: 280px;
    height: 200px;

}

#infocap a{
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    color: white;
}

div.footer {
    background-color: black;
    color: white;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    padding:10px;
    margin: 0;
    opacity: 0.95;
}

#descrip {
    margin-left:10%;
    margin-right:10%;
    margin-top:0;
    font-family: 'Lato', sans-serif;
    color:black;
    text-align: center;
    max-width: 80%;
}

@media (max-width:650px) {
    #bodycontainer {
        width: 100%;
        opacity: 0.95;
    }
    #aboutphoto {
        width: 200px;
        height: 170px;
    }
    iframe {
        width: 90%;
    }
    div.caption#safe {
        margin-left:auto;
        margin-right: auto;
        margin-top:0;
        margin-bottom:15%;
        font-family: 'Lato', sans-serif;
        font-size: 80%;
        color: black;
        text-align: left;
        max-width: 80%;
    }

    div.caption#river {
        margin-left:auto;
        margin-right: auto;
        margin-top:0;
        margin-bottom: 15%;
        font-family: 'Lato', sans-serif;
        font-size: 80%;
        color: black;
        text-align: left;
        max-width: 80%;
    }

    #aboutpar {
        margin: 5%;
        margin-top: 0;
        font-family: 'Lato', sans-serif;
        color: black;
        text-align: left;
        max-width: 90%;
    }

    #projpar {
        margin: 5%;
        margin-top: 0;
        font-family: 'Lato', sans-serif;
        color: black;
        text-align: left;
        max-width: 90%;
    }

    #perspar {
        margin: 5%;
        margin-top: 0;
        font-family: 'Lato', sans-serif;
        color: black;
        text-align: left;
        max-width: 90%;
    }

}
